.headerTopo {
    background-color: var(--cor-header);
    min-height: 70px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.headerTopo span {
    font-size: 1.2rem;
}

.fa-calendar{
    color: var(--cor-texto);
    font-size: 1.8rem;
    margin-right: 10px;
}

