.relogio {
    position: fixed;
    top: 75px;
    right: 12px;
    width: 165px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--cor-card);
    color: var(--cor-texto);
    border: 2px solid var(--cor-header);
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 4px 12px var(--cor-box-shadow);
}
