@charset "utf-8";

:root {
    --cor-fundo: #eeeeee;
    --cor-texto: #1a1a1a;
    --cor-header: #ffca00;
    --cor-card: #ffffff;
    --cor-botao: #333333;
    --cor-texto-botao: #ffffff;
    --cor-hover: #1a1a1a;
    --cor-box-shadow: rgba(0, 0, 0, 0.20);
}

body.dark {
    --cor-fundo: #101010;
    --cor-texto: #ffffff;
    --cor-header: #1c1c1c;
    --cor-card: #242424;
    --cor-botao: #ffca00;
    --cor-texto-botao: #1a1a1a;
    --cor-hover: #e5b400;
    --cor-box-shadow: rgba(0, 0, 0, 0.60);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

main {
    width: 600px;
    max-width: 95%;
    margin: auto;
    background-color: var(--cor-card);
    color: var(--cor-texto);
    border-radius: 15px;
    box-shadow: 0 8px 25px var(--cor-box-shadow);
    overflow: hidden;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 10px;
}